<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Brussels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Brussels">
    <meta name="subject" content="Brussels">
    <meta name="author" content="Doomoolmori Corp.">
    <meta name="keywords" content="두물머리,불리오">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {% block head %} {% endblock %}
</head>
<body>
{% block body %} {% endblock %}
</body>
</html>